body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4e7d5; /* Color de fondo */
}

header {
    background-color: #27242a; /* Color de fondo del encabezado */
    color: #f4e7d5; /* Color del texto del encabezado */
    padding: 10px 0;
    text-align: center;
}

header .d-flex {
    align-items: center;
    justify-content: space-between;
}

header p {
    margin: 5px 0;
    color: #ffffff; /* Color del texto de la descripción */
    font-weight: bold; /* Texto en negrita */
}

header h1 {
    color: #ffffff; /* Color del texto del nombre */
    font-weight: bold; /* Texto en negrita */
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.libutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
    text-align: center;
    outline: none;
    text-decoration: none !important;
    color: #ffffff !important;
    width: 200px;
    height: 32px;
    border-radius: 16px;
    background-color: #84b09b; /* Color de fondo del botón de LinkedIn */
    font-family: "SF Pro Text", Helvetica, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #f4e7d5; /* Color del texto de los enlaces de navegación */
    text-decoration: none;
}

nav ul li img {
    width: 24px;
    height: 24px;
}

main {
    padding: 20px;
    background: #f4e7d5; /* Color de fondo principal */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1, h2 {
    font-family: 'Courier New', serif;
    color: #27242a; /* Color del texto de los encabezados */
}

p, li {
    color: #27242a; /* Color del texto de los párrafos y listas */
}

section {
    border-left: 5px solid #84b09b; /* Color del borde izquierdo de las secciones */
    padding-left: 15px;
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #27242a; /* Color del borde inferior de los encabezados de sección */
    padding-bottom: 5px;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section ul li {
    background-color: #f4e7d5; /* Color de fondo de los elementos de la lista */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

section ul li a {
    color: #27242a; /* Color del texto de los enlaces de los elementos de la lista */
    text-decoration: none;
}

section ul li a:hover {
    text-decoration: underline;
}

button {
    background-color: #84b09b; /* Color de fondo de los botones */
    border: none;
    color: white; /* Color del texto de los botones */
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #27242a; /* Color de fondo de los botones al pasar el cursor */
}

.details {
    display: none;
}

.details.active {
    display: block;
}

.company-logo {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

/* Timeline style */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #84b09b; /* Color de la línea de la timeline */
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline ul {
    padding: 0;
    list-style-type: none;
}

.timeline ul li {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    left: 0;
}

.timeline ul li:nth-child(even) {
    left: 50%;
}

.timeline ul li::before {
    content: attr(data-year);
    position: absolute;
    width: 60px;
    height: 60px;
    top: 15px;
    right: -30px;
    background-color: #84b09b; /* Color del círculo de la timeline */
    color: white; /* Color del texto dentro del círculo */
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.timeline ul li:nth-child(even)::before {
    left: -30px;
    right: auto;
}

/* Timeline animation */
.timeline-animation {
    position: fixed;
    top: 20%;
    left: 0;
    background-color: #84b09b; /* Color de fondo de la animación de la timeline */
    color: white; /* Color del texto de la animación de la timeline */
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    z-index: 1000;
    transition: all 0.3s ease;
}

#timeline-year {
    font-size: 24px;
    margin-bottom: 5px;
}

#timeline-role {
    font-size: 18px;
}
