body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header p {
    margin: 5px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li img {
    width: 24px;
    height: 24px;
}

main {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1, h2 {
    font-family: 'Courier New', serif;
    color: #C69141;
}

p, li {
    color: #000000;
}

section {
    border-left: 5px solid #EDCF8E;
    padding-left: 15px;
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #D4D6D7;
    padding-bottom: 5px;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section ul li {
    background-color: #D5B684;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

section ul li a {
    color: #000000;
    text-decoration: none;
}

section ul li a:hover {
    text-decoration: underline;
}

button {
    background-color: #C69141;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #EDCF8E;
}

.details {
    display: none;
}

.details.active {
    display: block;
}
